@{
    ViewBag.Title = "MeetingList";
}

<h1 class="h4">Meeting listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Katilim durumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kenan</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-danger" href="#">Details</a>
            </td>
        </tr>
        <tr>
            <td>Coni</td>
            <td>Evet</td>
            <td>
                <a class="btn btn-danger" href="#">Details</a>
            </td>
        </tr>
    </tbody>
</table>