@model MeetingInfo
@{
    ViewBag.Title = "MainPage";
    Layout = "_Layout2";
}
<main class="text-center">

    <h1 class = "h4">Welcome Meeting</h1>
    <p>Notify your Participation Status</p>
    
    <div class="card my-2">
        <ul class="list-group list-group flush">
            <li class="list-group-item">@Model.Location</li>
            <li class="list-group-item">@Model.Date will take place on</li>
            <li class="list-group-item">@Model.NumberOfPeople Participate</li>
        </ul>
    </div>
    <a class= "btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Login</a>
</main>





